<center><h1 style="font-size:50px ; color:#A62E02 ; font-family:'Impact'"> MAKE YOUR PIZZA : </h1>

<%= render partial: "pizza_form", locals: {button_text: "Create a Brand New Pizza!", pizza: @pizza} %>

<br><br>
<%= link_to "NAH I CHANGED MY MIND", pizzas_path, style: "font-size:20px ; color:#AC8070;" %> </center>